<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>de.hdm.ollama</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{ homebrew_prefix }}/bin/ollama</string>
    <string>serve</string>
  </array>
  <key>UserName</key>
  <string>{{ ansible_user }}</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/{{ ansible_user }}</string>
    <key>OLLAMA_HOST</key>
    <string>{{ ollama_bind }}</string>
    <key>OLLAMA_MODELS</key>
    <string>{{ models_root }}/ollama</string>
    <key>OLLAMA_KEEP_ALIVE</key>
    <string>{{ ollama_keep_alive }}</string>
    <key>OLLAMA_NUM_PARALLEL</key>
    <string>{{ ollama_num_parallel }}</string>
    <key>OLLAMA_MAX_LOADED_MODELS</key>
    <string>{{ ollama_max_loaded_models }}</string>
    <key>OLLAMA_CONTEXT_LENGTH</key>
    <string>{{ ollama_context_length }}</string>
    <key>OLLAMA_FLASH_ATTENTION</key>
    <string>{{ ollama_flash_attention }}</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/var/log/ollama.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/ollama.log</string>
</dict>
</plist>
